/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/static/background.jpg'); /* 设置背景图片 */
    background-size: cover;  /* 背景图片铺满整个屏幕 */
    background-position: center;  /* 背景图片居中 */
    background-repeat: no-repeat;  /* 防止背景图片重复 */
}

/* 聊天容器 */
#chat-container {
    width: 400px;
    background: rgba(255, 255, 255, 0.8);  /* 半透明背景，保证背景图片能透过 */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* 标题居中 */
#chat-container h2 {
    text-align: center;  /* 确保标题居中 */
    margin-top: 0;       /* 去掉标题上方的默认空隙 */
}

/* 消息显示区 */
#messages {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}

/* 输入框 */
#message-input {
    width: 75%;
    padding: 5px;
    margin-right: 5px;
}

/* 发送按钮 */
#send-button {
    padding: 5px 10px;
}

@media only screen and (max-width: 480px) {
    body {
        background-image: url('/static/background4.png');
    }
}
